body{
    background:linear-gradient(skyblue,green);
    font-family: "press start 2p"
}

.h1
{
    font-style: "arial"
    
    
}


.p{
    color: rgb(60, 60, 224);
    background-color: grey;
    font-family: "consolas", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.li{
    color: brown;
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
  


  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
    

  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

.menu_left{
    animation: mySlide 3s linear infinite;
}  

@keyframes mySlide {
    from {
        margin-left: 100%; /* Removed the '&' and corrected the syntax */
    }
    to {
        margin-left: 0%; /* Corrected the syntax */
    }
}
